           body{
                background-color: black;
                color:yellow;
            }

            .btn {
                background-color:hsl(281, 87%, 56%);
                width:150px;
                height:150px;
                border-radius: 75px;
                border: 3px solid yellow;
                margin :20px;
                cursor: pointer;
            }
            .im {
                width: 100px;
                height:100px;
            }
            .para{
                font-size: 25px;
            }
            .im2 {
                width: 50px;
                height:50px;
            }
            .bt2 {
                background-color: hsl(281, 87%, 56%);
                color: yellow;
                font-weight: bolds;
                width: 100px;
                height: 50px ;
                font-size: 30px;
                border: 3px solid yellow;
                border-radius: 20px;
                margin: 30px;
                cursor: pointer;
            }
            .bt3 {
                width: 250px;
            }